/*Подключаем шрифт Roboto*/
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=cyrillic');

/*Редактирование bootstrap, устанавливаем ширину по макету*/
@media (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .row {
    margin-right: -20px;
    margin-left: -20px;
  }
  .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/*Анимация выезда всплывающей формы .write-to-us__form; сама форма расположена в подвале*/
@-webkit-keyframes popup {
  from {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
  }
}
@keyframes popup {
  from {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
  }
}

/*Устанавливаем подключенный шрифт Roboto*/
body {
  font-family: 'Roboto', 'Arial', sans-serif;
  line-height: 1.2;
  color: #000;
}

/*Шапка*/
.main-header {
  background-color: #eeeeee;
  padding-top: 49px;
}

/*Раздел Навигация*/
.main-nav {
  margin-bottom: 15px;
}

.main-nav__logo img {
  width: 100%;
  height: 100%;
}

.main-nav__logo:not(.active) .main-logo__img:hover {
  opacity: 0.8;
}

.main-nav__logo:not(.active) .main-logo__img:active {
  opacity: 0.3;
}

.main-nav a {
  display: inline-block;
  vertical-align: top;
  position: relative;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  color: #101010;
  text-decoration: none;
}

.main-nav__links a {
  margin-top: 30px;
}

.main-nav__links a:not(:last-child) {
  margin-right: 43px;
}

.main-nav__links a:last-child {
  padding-left: 41px;
}

.main-nav__links a:last-child::before {
  content: "";
  background: url("../img/sprites.png");
  background-position: -300px -250px;
  width: 15px;
  height: 15px;
  position: absolute;
  left: 0;
  top: 3px;
}

.main-nav__links a:not(.active):hover {
  color: #fb565a;
}

.main-nav__links a:not(.active):active {
  color: #a6a6a6;
}

.main-nav .active {
  cursor: default;
}

.main-nav__links .active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  height: 2px;
  width: 100%;
  background-color: #fb565a;
}
/*Завершение раздела Навигация*/

/*Раздел Карусель*/
.owl-item__description,
.owl-item__image {
  padding: 0;
  color: #000;
}

.owl-item__description {
  margin-top: 63px;
  margin-bottom: 80px;
  max-width: 45%;
  position: relative;
  z-index: 1;
}

.description__tagline {
  font-size: 55px;
  font-weight: 500;
  line-height: 1;
}

.description__paragraph {
  font-size: 16px;
  margin-top: 27px;
  margin-bottom: 38px;
  line-height: 1.5;
}

.description__learn-more {
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  padding: 16px 55px;
  background-color: #fb565a;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}

.description__learn-more:hover {
  background-color: #e74246;
  text-decoration: none;
  color: #fff;
}

.description__learn-more:focus {
  color: #fff;
  text-decoration: none;
}

.description__learn-more:active {
  background-color: #d7373b;
  color: #dd5357;
  -webkit-box-shadow: inset 0 3px 3px -3px #000;
          box-shadow: inset 0 3px 3px -3px #000;
}

.owl-item__image {
  position: absolute;
  right: 30px;
  top: 0;
  height: 100%;
  max-width: 60%;
}

.owl-item__image img {
  height: 100%;
  width: 100%;
}

.owl-theme .owl-nav.disabled+.owl-dots {
  position: relative;
  z-index: 1;
  margin: 0;
}

.owl-dot {
  position: absolute;
  bottom: 91px;
  left: 49%;
  margin-left: -4px;
}

.owl-dot:first-child {
  margin-left: -39px;
}

.owl-dot:last-child {
  margin-left: 31px;
}

.owl-theme .owl-dots .owl-dot span {
  width: 18px;
  height: 18px;
  background-color: #fff;
}

.owl-theme .owl-dots .owl-dot.active span {
  background-color: #fff;
}

.owl-theme .owl-dots .owl-dot.active span::after {
  content: "";
  display: block;
  position: absolute;
  left: 12px;
  top: 10px;
  width: 8px;
  height: 8px;
  border: 2px solid #c2c2c2;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}
/*Завершение раздела Карусель*/
/*Конец Шапки*/

/*main*/
/*Раздел Наше предложение*/
.our-offer .col-sm-4 {
  padding-top: 80px;
  padding-bottom: 79px;
  overflow: hidden;
}

.our-offer .col-sm-4::before {
  content: "";
  display: block;
  background: url('../img/sprites.png') no-repeat;
  width: 300px;
  height: 146px;
}

.our-offer .our-offer__web-sites::before {
  background-position: 0 -150px;
}

.our-offer .our-offer__presentations::before {
  background-position: -300px 0;
}

.our-offer h2 {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  margin: 25px 0 21px;
}

.our-offer p {
  display: block;
  font-size: 16px;
  max-width: 245px;
  line-height: 1.4;
}

.our-offer__order {
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  color: #fff;
  background-color: #fb565a;
  padding: 17px 40px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  margin-top: 25px;
}

.our-offer__web-sites .our-offer__order:hover {
  background-color: #e74246;
  color: #fff;
  text-decoration: none;
}

.our-offer__web-sites .our-offer__order:focus {
  color: #fff;
  text-decoration: none;
}

.our-offer__web-sites .our-offer__order:active {
  background-color: #d7373b;
  color: #e37376;
  -webkit-box-shadow: inset 0 3px 3px -3px #000;
          box-shadow: inset 0 3px 3px -3px #000;
}

.our-offer__applications .our-offer__order {
  background-color: #00ca74;
}

.our-offer__applications .our-offer__order:hover {
  background-color: #00bc6c;
  color: #fff;
  text-decoration: none;
}

.our-offer__applications .our-offer__order:focus {
  color: #fff;
  text-decoration: none;
}

.our-offer__applications .our-offer__order:active {
  background-color: #00aa62;
  color: #4dc491;
  -webkit-box-shadow: inset 0 3px 3px -3px #000;
          box-shadow: inset 0 3px 3px -3px #000;
}

.our-offer__presentations .our-offer__order {
  background-color: #efc84a;
}

.our-offer__presentations .our-offer__order:hover {
  background-color: #eab534;
  color: #fff;
  text-decoration: none;
}

.our-offer__presentations .our-offer__order:focus {
  color: #fff;
  text-decoration: none;
}

.our-offer__presentations .our-offer__order:active {
  background-color: #e5a722;
  color: #ecbe5c;
  -webkit-box-shadow: inset 0 3px 3px -3px #000;
          box-shadow: inset 0 3px 3px -3px #000;
}

.our-offer .container::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #eeeeee;
}
/*Завершение раздела Наше предложение*/

/*Раздел О нас*/
.about-us {
  margin-top: 40px;
}

.about-us__caption {
  display: inline-block;
  vertical-align: top;
  font-size: 45px;
  font-weight: 500;
  line-height: 1;
  padding: 35px 0;
}

.about-us__our-princips {
  font-size: 16px;
  margin-bottom: 42px;
  line-height: 1.4;
}

/*Подраздел О нас__Что мы делаем*/
.what-we-do__caption {
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 29px;
}

.what-we-do__list {
  list-style: none;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

.what-we-do__list-item {
  margin-bottom: 28px;
  white-space: nowrap;
}

.what-we-do__list-item::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
  margin-right: 10px;
}
/*Завершение подраздела О нас__Что мы делаем*/

/*Подраздел О нас__Статистика*/
.statistics__logo {
  margin-bottom: 38px;
  width: 100%;
  height: 100%;
}

.statistics__caption {
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 44px;
}

.statistics__facts div {
  padding: 0;
}

.facts__number {
  display: inline-block;
  vertical-align: top;
  font-size: 45px;
  font-weight: 700;
  line-height: 1;
}

.number__percent {
  display: inline-block;
  vertical-align: top;
  font-size: 26px;
  line-height: 1.2;
}

.facts__text {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  margin-top: 18px;
}
/*Завершение подраздела О нас__Статистика*/

.about-us .container::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #eeeeee;
  margin-top: 50px;
}
/*Завершение раздела О нас*/

/*Раздел Портфолио*/
.portfolio .flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          -webkit-align-items: center;
          align-items: center;
}

.portfolio img {
  width: 100%;
  height: 100%;
}

.portfolio__item {
  padding: 42px 45px 37px;
  position: relative;
}

.portfolio__htmlacademy {
  padding: 62px 50px 47px;
}

.portfolio__pink {
  padding: 40px 57px 37px;
}

.portfolio__mishka {
  padding: 45px 63px 35px;
}

.portfolio__image {
  opacity: 0.2;
}

.portfolio__image:hover {
  opacity: 1;
}

.portfolio__image:active {
  opacity: 0.1;
}

.portfolio__item:not(:last-child)::after {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  height: 52px;
  background-color: #eeeeee;
  right: -1px;
  top: 50%;
  margin-top: -30px;
  opacity: 1;
}

.portfolio .container::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #eeeeee;
  margin-top: 3px;
  margin-bottom: 80px;
}
/*Завершение раздела Портфолио*/
/*Конец main*/

/*!-!-!-!-!Отсюда начинается редактирование страницы "Магазин"*/

/*Шапка*/
/*Раздел Навигация общий с главной страницей, прописан выше .main-nav*/

/*Раздел Заголовок*/
.main-header__text {
  font-size: 55px;
  font-weight: 500;
  margin-top: 60px;
  margin-bottom: 105px;
}
/*Завершение раздела Заголовок*/
/*Конец Шапки*/

/*main*/
/*Раздел Шаблоны*/
.templates {
  margin: 60px 0;
}

/*Подраздел Шаблоны__Фильтр*/
.templates__filter input,
.templates__filter label {
  font-size: 16px;
  font-weight: 400;
}

.filter__price {
  margin-bottom: 57px;
}

.price__caption,
.grid__caption,
.features__caption {
  display: block;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 51px;
  line-height: 1.3;
}

.grid__caption,
.features__caption {
  margin-bottom: 17px;
}

.price__range {
  padding: 39px 19px;
  background-color: #eeeeee;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  margin-bottom: 14px;
}

.ui-slider-horizontal {
  height: 2px;
  background-color: #d7dcde;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.ui-widget.ui-widget-content {
  border: none;
}

.ui-slider .ui-slider-range {
  background-color: #00ca74;
}

.ui-slider .ui-slider-handle {
  width: 4px;
  height: 4px;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  background-color: #ababab;
  border: 8px solid #fff;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  top: -9px;
  cursor: pointer;
}

.ui-slider .ui-slider-handle:hover,
.ui-slider .ui-slider-handle:focus {
  background-color: #000;
  -webkit-box-shadow: 0 1px 2px #000;
          box-shadow: 0 1px 2px #000;
  outline: none;
}

.number__input {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}

.number__input label {
  text-transform: uppercase;
  cursor: pointer;
  margin-right: 10px;
}

.number__input input {
  width: 61%;
  padding: 10px 0;
  background-color: #eeeeee;
  border: none;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  cursor: pointer;
}

.number__input input {
  -moz-appearance: textfield;
}

.number__input input::-webkit-inner-spin-button,
.number__input input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.filter__grid {
  margin-bottom: 46px;
}

.filter__grid label {
  display: block;
  vertical-align: top;
  cursor: pointer;
  margin-bottom: 15px;
}

.filter__grid input {
  display: none;
}

.radio-button {
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  background-color: #000;
  opacity: 0.4;
  position: relative;
  margin-right: 11px;
}

label:hover .radio-button {
  opacity: 1;
}

label:disabled .radio-button {
  opacity: 0.1;
}

.radio-button::before {
  content: "";
  display: table;
  position: absolute;
  left: 4px;
  top: 4px;
  width: 9px;
  height: 9px;
  background-color: #fff;
  border: 4px solid #fff;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.grid__input:checked + label .radio-button::before {
  background-color: #000;
}

.filter__features {
  margin-bottom: 48px;
}

.filter__features label {
  display: block;
  vertical-align: top;
  cursor: pointer;
  margin-bottom: 17px;
}

.filter__features input {
  display: none;
}

.filter__features label::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 27px;
  height: 23px;
  background: url('../img/sprites.png') no-repeat;
  background-position: -300px -200px;
  margin-right: 8px;
  opacity: 0.4;
}

.features__input:checked + label::before {
  background-position: -350px -200px;
}

.filter__features label:hover::before {
  opacity: 1;
}

.filter__features label:disabled::before {
  opacity: 0.1;
}

.filter__button {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 16px 89px;
  background-color: #eeeeee;
  border: none;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}

.filter__button:hover {
  background-color: #dfdfdf;
}

.filter__button:active {
  background-color: #d5d5d5;
  color: #959595;
  -webkit-box-shadow: inset 0 3px 3px -3px #000;
          box-shadow: inset 0 3px 3px -3px #000;
  outline: none;
}
/*Завершение подраздела Шаблоны__Фильтр*/

/*Подраздел Шаблоны__Элементы*/
.items__sort-by {
  margin-bottom: 56px;
}

.sort-by__caption {
  display: inline-block;
  vertical-align: top;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
}

.sort-by__links {
  display: inline-block;
  vertical-align: top;
  margin-top: 2px;
}

.sort-by__links a {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
  opacity: 0.3;
  margin-right: 22px;
}

.sort-by__links a:hover {
  opacity: 0.6;
}

.sort-by__links a:active,
.sort-by__links a.active {
  opacity: 1;
}

.sort-by__up-down a {
  display: inline-block;
  background: url('../img/sprites.png') no-repeat;
  background-position: -400px -200px;
	width: 11px;
	height: 10px;
  margin-right: 0;
  margin-left: 15px;
  margin-top: 2px;
}

.sort-by__up-down .sort-by__up-down--up {
  background-position: -450px -200px;
}

.items__container article {
  margin-bottom: 33px;
  position: relative;
}

.items__container article::before {
  content: "";
  display: block;
  background: url('../img/sprites.png') no-repeat;
  background-position: -300px -150px;
	width: 100%;
	height: 40px;
  opacity: 0.12;
  -webkit-border-top-right-radius: 5px;
          border-top-right-radius: 5px;
}

.items__container article:hover img {
  -webkit-box-shadow: 0 10px 67px -14px #000;
          box-shadow: 0 10px 67px -14px #000;
}

.items__container article:hover::before {
  opacity: 1;
}

.items__container img {
  width: 100%;
}

.templates__about-template {
  position: absolute;
  max-width: 100%;
  margin-right: 20px;
  bottom: 0;
  background-color: #eeeeee;
  padding: 35px 80px 43px;
  display: none;
}

article:hover .templates__about-template {
  display: block;
}

.about-template__title {
  margin: 0 0 19px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.about-template__text {
  font-size: 16px;
  color: #666666;
  margin-bottom: 30px;
}

.about-template__price {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  background-color: #fb565a;
  padding: 15px 60px;
  border: none;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  white-space: nowrap;
}

.templates__nav {
  margin-top: 27px;
}

.templates__nav a {
  text-transform: uppercase;
  display: inline-block;
  vertical-align: top;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  padding: 16px 21px 15px 20px;
  background-color: #eeeeee;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  text-decoration: none;
  margin-right: 8px;
}

.templates__nav .nav__next-sheet {
  padding: 16px 77px;
}

.templates__nav a:hover {
  background-color: #dfdfdf;
}

.templates__nav a:active {
  background-color: #d5d5d5;
  color: #959595;
  -webkit-box-shadow: inset 0 3px 3px -3px #000;
          box-shadow: inset 0 3px 3px -3px #000;
}

.templates__nav a.active {
  background-color: #fff;
  color: #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 3px solid #dbdbdb;
  padding: 13px 17px 12px 18px;
  -webkit-box-shadow: none;
          box-shadow: none;
}
/*Завершение подраздела Шаблоны__Элементы*/
/*Завершение раздела Шаблоны*/
/*Конец main*/
/*!-!-!-!-!Конец уникального контента страницы "Магазин", Подвал общий с главной страницей и прописан ниже"*/

/*Подвал*/
/*Раздел Карта*/
/*Подраздел Карта__Напишите нам*/
.main-footer__write-to-us {
  position: relative;
}

.map__yandex {
  height: 417px;
}

.write-to-us__on-map-block {
  padding: 55px 50px 48px;
  position: absolute;
  z-index: 1;
  bottom: 55px;
  left: 20px;
  background-color: #fff;
}

.on-map-block__title {
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 28px;
  text-transform: uppercase;
}

.on-map-block__address,
.on-map-block__phone {
  font-size: 16px;
  color: #666666;
  margin: 0;
  line-height: 1.15;
  margin-bottom: 17px;
}

.on-map-block__phone {
  margin-bottom: 37px;
}

.on-map-block__button {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  background-color: #fb565a;
  padding: 15px 45px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  border: none;
}

.on-map-block__button:hover {
  background-color: #e74246;
}

.on-map-block__button:active {
  background-color: #d7373b;
  color: #e37376;
  -webkit-box-shadow: inset 0 3px 3px -3px #000;
          box-shadow: inset 0 3px 3px -3px #000;
  outline: none;
}

/*Подраздел Напишите нам__Форма обратной связи*/
.write-to-us__form {
  display: none;
  position: absolute;
  bottom: -40px;
  z-index: 3;
  background-color: #fff;
  padding: 70px 90px;
  -webkit-box-shadow: 0 5px 30px #000;
          box-shadow: 0 5px 30px #000;
  -webkit-animation-name: popup;
          animation-name: popup;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
}

.write-to-us__form.visible {
  display: block;
}

.write-to-us__form .form__caption {
  display: block;
  font-size: 45px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 45px;
  position: relative;
}

.write-to-us__form .form__close {
  content: "";
  position: absolute;
  top: 78px;
  right: 79px;
  background: url('../img/sprites.png') no-repeat;
  background-position: -350px -250px;
	width: 21px;
	height: 21px;
  opacity: 0.3;
  z-index: 2;
}

.write-to-us__form .form__close:hover {
  cursor: pointer;
  opacity: 1;
}

.write-to-us__form .form__close:active {
  opacity: 0.1;
}

.write-to-us__form .form__name,
.write-to-us__form .form__email,
.write-to-us__form .form__letter-text {
  display: inline-block;
  vertical-align: top;
  width: 47%;
  font-size: 16px;
  font-weight: 700;
}

.write-to-us__form .form__letter-text {
  width: 100%;
}

.write-to-us__form .name__input,
.write-to-us__form .email__input,
.write-to-us__form .letter-text__textarea {
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  border: 2px solid #d7dcde;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  padding: 15px;
  margin-bottom: 35px;
}

.write-to-us__form .name__input:hover,
.write-to-us__form .email__input:hover,
.write-to-us__form .letter-text__textarea:hover {
  border: 2px solid #b4b9bb;
}

.write-to-us__form .name__input:focus,
.write-to-us__form .email__input:focus,
.write-to-us__form .letter-text__textarea:focus {
  border: 2px solid #000000;
  outline: none;
}

.name__input:invalid,
.email__input:invalid,
.letter-text__textarea:invalid {
  border: 2px solid #e74246;
  color: #ec686b;
}

.write-to-us__form .letter-text__textarea {
  margin-bottom: 45px;
}

.write-to-us__form .form__button {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  background-color: #fb565a;
  padding: 18px 80px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  border: none;
}

.write-to-us__form .form__button:hover {
  background-color: #e74246;
}

.write-to-us__form .form__button:active {
  background-color: #d7373b;
  color: #e37376;
  -webkit-box-shadow: inset 0 3px 3px -3px #000;
          box-shadow: inset 0 3px 3px -3px #000;
  outline: none;
}
/*Завершение подраздела Напишите нам__Форма обратной связи*/
/*Завершение подраздела Карта__Напишите нам*/
/*Завершение раздела Карта*/

/*Раздел Социальный*/
.main-footer__social {
  margin: 69px 0;
}

.social__links {
  padding-right: 0;
}

.social__links a {
  display: inline-block;
  vertical-align: middle;
  width: 78px;
  height: 78px;
  background-color: #e1e1e1;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  margin-right: 10px;
  position: relative;
}

.social__links a::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -8px;
  margin-left: -13px;
  left: 50%;
  background: url('../img/sprites.png') no-repeat;
  background-position: -500px -200px;
	width: 26px;
	height: 15px;
}

.social__links .links__fb::before {
  background-position: -550px -200px;
	width: 12px;
	height: 22px;
  margin-left: -6px;
  margin-top: -11px;
}

.social__links .links__ig::before {
  background-position: -600px -200px;
	width: 21px;
	height: 21px;
  margin-left: -10px;
  margin-top: -10px;
}

.social__links a:hover {
  background-color: #e74246;
}

.social__links a:active {
  background-color: #d7373b;
}

.social__links a:active::before {
  opacity: 0.3;
}

.social__caption {
  display: inline-block;
  vertical-align: top;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 7px;
}

.social__sales {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
}
/*Завершение раздела Социальный*/
/*Конец Подвала*/

/*Адаптив*/
/*От 768px до 1199px*/
@media (max-width: 1199px) {
  .owl-item__description {
    max-width: 55%;
  }
  .description__tagline,
  .description__paragraph {
    text-shadow: 0px 0px 15px #fff;
  }
  .owl-item__image {
    max-width: 65%;
    right: 0;
  }
  .facts__number {
    font-size: 42px;
  }
  .facts__text {
    font-size: 14px;
    margin-top: 8px;
  }
  .social__links a {
    width: 72px;
    height: 72px;
    margin-right: 0;
  }
  .templates__about-template {
    padding: 35px 47px 43px;
  }
  .sort-by__links a {
    margin-right: 2px;
  }
}

/*Адаптив*/
/*От 768px до 991px*/
@media (max-width: 991px) {
  .main-header {
    padding-top: 10px;
  }
  .main-nav__links {
    text-align: center;
  }
  .owl-item__description {
    max-width: 72%;
  }
  .description__learn-more {
    -webkit-box-shadow: 2px 2px 3px #000;
            box-shadow: 2px 2px 3px #000;
  }
  .owl-item__image {
    max-width: 100%;
  }
  .our-offer .col-sm-4::before {
    margin-left: -37px;
  }
  .our-offer__presentations .our-offer__order {
    margin-top: 47px;
  }
  .portfolio .flex-row {
    display: block;
  }
  .portfolio__mishka {
    padding: 20px 63px;
  }
  .portfolio__pink::before,
  .portfolio__mishka::before {
    content: "";
    display: block;
    position: absolute;
    width: 60px;
    height: 2px;
    background-color: #eee;
    top: 0;
    left: 50%;
    margin-left: -30px;
  }
  .social__links a {
    width: 55px;
    height: 55px;
  }
  .social__caption {
    font-size: 35px;
  }
  .write-to-us__form .name__input,
  .write-to-us__form .email__input,
  .write-to-us__form .letter-text__textarea {
    font-size: 13px;
  }
  .filter__button {
    padding: 16px 70px;
  }
  .items__sort-by {
    margin-bottom: 40px;
  }
  .sort-by__links {
    text-align: center;
  }
  .sort-by__links a {
    font-size: 12px;
  }
  .about-template__price {
    padding: 15px 55px;
  }
  .templates__about-template {
    padding: 35px 16px 43px;
  }
  .write-to-us__form {
    padding: 70px;
  }
  .write-to-us__form .form__close {
    right: 59px;
  }
}

/*Адаптив*/
/*До 768px*/
@media (max-width: 767px) {
  .main-nav {
    text-align: center;
  }
  .main-nav__links a:not(:last-child) {
    margin-right: 8px;
    margin-left: 8px;
  }
  .main-nav__links a:last-child {
    padding-left: 24px;
    float: none!important;
  }
  .owl-item__description {
    max-width: 100%;
    width: 100%;
  }
  .description__tagline {
    font-size: 31px;
  }
  .description__paragraph {
    font-size: 14px;
  }
  .owl-item__image {
    display: none;
  }
  .owl-carousel .owl-item {
    text-align: center;
  }
  .owl-dot {
    bottom: 28px;
  }
  .our-offer .col-sm-4 {
    padding: 20px 0;
    text-align: center;
  }
  .our-offer .col-sm-4::before {
    margin-left: auto;
    margin-right: auto;
  }
  .our-offer p {
    margin-left: auto;
    margin-right: auto;
  }
  .about-us__caption {
    font-size: 34px;
  }
  .what-we-do__list {
    font-size: 14px;
  }
  .what-we-do__list-item {
    white-space: normal;
  }
  .what-we-do__list-item::before {
    width: 4px;
    height: 4px;
    margin-right: 6px;
  }
  .statistics__facts div {
    text-align: center;
  }
  .facts__number {
    width: 100%;
  }
  .facts__text {
    margin-bottom: 20px;
  }
  .portfolio__item {
    display: block;
    padding: 10% 25%;
  }
  .portfolio__item:not(:last-child)::after {
    width: 60px;
    height: 2px;
    top: auto;
    margin-top: 0;
    bottom: 0;
    right: 50%;
    margin-right: -30px;
  }
  .portfolio__pink::before,
  .portfolio__mishka::before {
    display: none;
  }
  .write-to-us__on-map-block {
    position: relative;
    bottom: 0;
    left: 0;
    text-align: center;
  }
  .main-footer__social {
    text-align: center;
  }
  .social__links a {
    width: 75px;
    height: 75px;
    margin-right: 10px;
  }
  .social__caption {
    font-size: 32px;
  }
  .write-to-us__form {
    padding: 0 0 10px;
    text-align: center;
    width: 94%;
    left: 3%;
  }
  .write-to-us__form .form__close {
    right: 3px;
    top: 3px;
  }
  .write-to-us__form .form__caption {
    font-size: 36px;
    margin-top: 10px;
  }
  .main-header__text {
    font-size: 36px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .templates {
    margin: 20px 0;
  }
  .filter__price,
  .filter__grid,
  .filter__features,
  .price__caption,
  .grid__caption,
  .features__caption {
    margin-bottom: 20px;
  }
  .number__input input {
    width: 80%;
  }
  .filter__grid,
  .filter__features {
    text-align: center;
  }
  .filter__grid label,
  .filter__features label {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
  }
  .radio-button,
  .filter__features label::before {
    margin-right: 5px;
  }
  .filter__button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
  }
  .items__sort-by {
    margin-bottom: 10px;
    text-align: center;
  }
  .items__container article::before {
    display: none;
  }
  .items__container article {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 0;
  }
  .templates__about-template {
    width: 100%;
  }
  .templates__nav {
    text-align: center;
  }
  .templates__nav a {
    margin-bottom: 10px;
  }
}
